h1{
    background-color: palegoldenrod;
    border:1px solid black;
    display: inline;

    font-size: 40px;
    line-height: 200%;
    
}

span{
    background-color: paleturquoise;
    border:1px solid black;
    display:block;
    padding: 50px;
    margin:50px;
}

div{
    height:200px;
    width: 200px;
    background-color: olivedrab;
    border:5px solid black;
    display: inline-block ;
    margin:50px;

}

section{
    background-color: #6d6875;
    width: 800px;
    height: 800px;
}

div{
    background-color: #e5989b;
    width: 50%;
    height: 50%;
}

h2{
    font-size: 2em;
    margin-left:1em;
}

article{
    font-size: 30px;
}

p{
    font-size:0.8em;
}

h3{
    font-size:1.5em;
}

button{
    font-size:30px;
    padding:0 30px;
    border-radius: 0.5em;
    background-color: #2a8d8f;
    color: white;

}

ul {
    font-size:1.5em;
}