/* Universal and Element Selectors,ID Selector , Class selector , Descendet selector, Adjacent and Direct Descendet Selector*/
*{
    background-color: cyan;

}

button{
    font-size: 30px;
    background-color: #a8dadc;
}

h1,h2{
    color:#1d3557;

}

body{
    background-color: #f1faee;
}

#signup{
    background-color: #1d3557;
    color: #f1faee;
}

span{
  color:  #457b9d;
}

.tag{
    background-color: #e63946;

}
.post a {
    color:#457b9d;
}

footer a {
    color:#e63946;
}

input + button {
    background-color: pink;
}

h2 + button{
    font: size 20px;
    background-color: magenta;
}