section{
    width: 80%;
    height: 800px;

   background-size:cover;
   background-position: bottom;
   background: no-repeat center/40% auto url("https://images.unsplash.com/photo-1626682011325-cdc6dff3c9b7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=564&q=80"), blueviolet;
    margin: 0 auto;

}

h1{
    font-size:100px;
    color: white;
}
