img {
    width: 30%;
    margin:1px;

}

nav{
    font-family: 'Raleway', sans-serif;
    font-size:1.53em;
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    margin-left:1px;
    padding:1.2em 0;

}
